#catalog .section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#catalog .info {
  width: 40%;
}
#catalog .info__title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

#catalog .info__text {
  color: var(--clr-gray-text);
  margin-bottom: 1.25rem;
}
#catalog .info__link {
  color: #000000;
  text-decoration: none;
  position: relative;
}

#catalog .info__link::after {
  content: "";
  position: absolute;
  height: 1.5px;
  width: 100%;
  background-color: #000000;
  left: 0;
  bottom: -3px;
}

#catalog .catalog__img {
  width: 45%;
  max-width: 380px;
}
