body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
}

header p {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
}

h1 {
  font-family: serif;
  font-weight: 500;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(0, 0, 0);
  align-items: center;
}

header nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

header nav ul li a {
  color: rgb(0, 153, 0);
  text-decoration: none;
}
